$burundy: #80111F;
$cool-grey: #848FA5;
$honeydew: #F1FAEE;
$imperial-red: #e63946;
$onyx: #393E41;
$sizzling-red: #E8525B;

$black: #2d2a32;

$pageBackground: $honeydew;

$primaryBorder: $burundy;

$primary: $imperial-red;
$primary-dark: $burundy;
$primary-light: $sizzling-red;