
/* Viewport Sizes */
// Design should be, by default, mobile portrait
$breakpoint-small: 480px; // mobile landscape
$breakpoint-medium: 768px; // tablet portrait
$breakpoint-large: 992px; // tablet landscape
$breakpoint-extra-large: 1200px; // desktop/laptop