@import './colors';
@import './viewports';

html, body {
    margin: 0 auto;
    height: 100%;
    background-color: $honeydew;
}

body {
    color: $onyx;
}

.site-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.container {
  max-width: 1140px;
}

.site-header {
    grid-area: header;
    background-color: $primary;
    color: #fff;
    border-bottom: 1px solid $primary-dark;

  .container {
    display: flex;
    flex-direction: column;
  }

  &-nav {
      display: flex;
      flex-direction: column;

      ul {
          display: flex;
          flex-direction: column;
          list-style: none;
          margin-block-start: 0;
          margin-block-end: 0;
          margin-inline-end: 0;
          padding-inline-start: 0;
      }
  }
}

.site-main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "mainContent"
        "mainNav";

    &-content {
        grid-area: mainContent;
        
        ul {
            list-style: none;
            margin-block-start: 0;
            margin-block-end: 0;
            margin-inline-end: 0;
            padding-inline-start: 0;
        }
    }

    &-nav {
        grid-area: mainNav;
    }
}

.site-footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
}